
    
<h1>{{storyScene.storyPart}}</h1>

<p>
    After a while, 
    Rupert met a beautiful fox named {{storyScene.foxWife}}. 
    They fell deeply in love and lived in {{storyScene.housing}}. 
    They lived there happily ever after. 
    The end.
</p>
