

<h1>{{storyScene.storyPart}}</h1>

<p>
    One day, Rupert decided to visit {{storyScene.place}}. 
    So, he hopped on a {{storyScene.travelVehicle}} to get there. 
    Once he got there, 
    he decided to stay for at least 2 years.
</p>
